<!doctype html>
<html lang="en" ng-app="cmaManagementApp" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Cognitive Medical Assistant - Management App</title>

   <script src="js/angular.min.js"></script>
   <script src="js/angular-animate.min.js"></script>
   <script src="js/angular-route.min.js"></script>
   <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
   <script src="appjs/main.js"></script>
   <script src="appjs/services/config/nativeutil.js"></script>
   <script src="appjs/controllers/monitoringGroupModule/monitoringGroupController.js"></script>
   <script src="appjs/controllers/groundVendorModule/vendorRequestController.js"></script>
   <script src="appjs/controllers/groundVendorModule/groundVendorLoginController.js"></script>
   <script src="appjs/controllers/groundVendorModule/vendorRegistrationController.js"></script>
   <script src="appjs/controllers/serviceManagementModule/serviceManagementController.js"></script>
   <script src="appjs/controllers/userModule/userHomeController.js"></script>
   <script src="appjs/controllers/userModule/userLoginController.js"></script>
   <script src="appjs/controllers/appHomeController.js"></script>
   <script src="appjs/navbarcontroller.js"></script>
   <script src="appjs/services/config/routeconfig.js"></script>
   <script src="appjs/services/utility/commonUtility.js"></script>
   <script src="appjs/controllers/userModule/userRequestController.js"></script>
   <script src="appjs/controllers/userModule/userRegistrationController.js"></script>
   <script src="appjs/controllers/userModule/userProfileController.js"></script>
   <script src="appjs/services/config/dataLayer.js"></script>
   <script src="appjs/services/config/appconfig.js"></script>
   <script src="appjs/services/config/apprun.js"></script>
   <script src="appjs/services/config/routeconfig.js"></script>
   <script src="appjs/services/constant/defaultValues.js"></script>
   <script src="appjs/services/constant/relativeUrls.js"></script>
   <script src="appjs/services/constant/messages.js"></script>
   <script src="appjs/services/constant/validationPattern.js"></script>
   <script src="appjs/services/utility/commonUtility.js"></script>
   <script src="appjs/services/data/userData.js"></script>
   <script src="appjs/services/data/vendorData.js"></script>
   <script src="appjs/services/business/userBusiness.js"></script>
   <script src="appjs/services/business/vendorBusiness.js"></script>
   
   <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/app.css" rel="stylesheet">
    
 </head>
<body>
	
  	
  	<div class="well well-header">
  	  	<div class="row">
  			<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
  				<button class="btn btn-sq-sm btn-primary" >
  					<span class="glyphicon glyphicon-list" style="font-size: 20px"></span>
  				</button>
  			</div>
  			<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
  					<span>&nbsp;</span>
  			</div>
  			<div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 well-header">
  				<h5>Cognitive Medical Assistant</h5>
  			</div>
  			<div style="float:right;">Welcome <span>Guest</span><span></span></div>
          </div>
  	</div>
  	
  
  
  
  
  <div style="padding-top:1px;" ng-view></div>
  </div>
  <!-- Addig the template files below -->
  <!-- Since we are not not serving from  web server,, we need to include all the teamplates here -->
	<script type="text/ng-template" id="views/appHome.html">
	
	<div class="container">
		<div class="row" style="text-align: center;">
			<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
				<p>
					<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onUserManagementClick();">
						<span class="glyphicon glyphicon glyphicon-user"></span><br/>
							<h5>User</h5>
					</button>
				</p>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
				<p>
					<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onMonitoringGrpClick();">
						<span class="glyphicon glyphicon glyphicon-sunglasses"></span><br/>
							<h5>Monitoring <br/> Group</h5>
					</button>
				</p>
			</div>
		</div> <!-- End of Row 1 -->
		<div class="row" style="text-align: center;">
			<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
				<p >
					<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onServiceManagementClick();">
						<span class="glyphicon glyphicon glyphicon-signal"></span><br/>
							<h5>Service <br/> Management <br/> Group</h5>
					</button>
				</p>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
				<p>
					<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onOnGroundVendorClick();">
						<span class="glyphicon glyphicon-tags"></span><br/>
							<h5>On Ground <br/>Vendor</h5>
					</button>
				</p>
			</div>
		</div> <!-- End of Row 2 -->
		<div style="width:200px; height:100px; z-index:999; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); background-color:red;" ng-if="false">
			<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onUserRegistrationClick();">
				<span class="glyphicon glyphicon glyphicon-user"></span><br/>
					<h5>Registration</h5>
			</button>
		</div>
	</div><!-- Container -->
	</script>
  <script type="text/ng-template" id="views/serviceManagementLanding.html">
  <div class="container">
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary">
                  		<span class="glyphicon glyphicon-tasks"></span><br/>
                  			<h5>Request<br/>Status <br/><span class="badge badge-danger">4</span></h5>
  
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 1 -->
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" >
            		<p >
              		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onHomeClick();">
                  		<span class="glyphicon glyphicon-home"></span><br/>
                  			<h5>Home</h5>
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 2 -->
  </div><!-- Container -->
  
  
  </script>
  <script type="text/ng-template" id="views/groundVendorLanding.html">
  <div class="container">
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onCurrentReqClick();">
                  		<span class="glyphicon glyphicon glyphicon-tasks"></span><br/>
                  			<h5>Current<br/>Request <br/><span class="badge badge-danger">{{vm.requests.length}}</span></h5>
  
              		</button>
              	</p>
          	</div>
  			<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary">
                  		<span class="glyphicon glyphicon glyphicon-tasks"></span><br/>
                  			<h5>All<br/>Request <br/><span class="badge badge-danger"></span></h5>
  
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 1 -->
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" >
            		<p >
              		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="">
                  		<span class="glyphicon glyphicon glyphicon-home"></span><br/>
                  			<h5>Profile</h5>
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 2 -->
  </div><!-- Container -->
  
  </script>
  <script type="text/ng-template" id="views/vendorRaisedRequest.html">
  <div class="container" ng-init="vm.onloadMyRequests();">
  	<div>
  		<div class="info-box" ng-repeat="request in vm.requests | orderBy: '-createDate'">
  			<p>
  				<span>Id: {{request.requestId.replace('SRV-REQ-ID-','')}}</span></br>
  				<span>Requested for: {{request.type}}</span></br>
  				<span>Status: {{request.status}}</span></br>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBacktoUserHome();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
  <script type="text/ng-template" id="views/monitoringGroupLanding.html">
  <div class="container">
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary">
                  		<span class="glyphicon glyphicon-eye-open"></span><br/>
                  			<h5>Request <br/>Monitoring</h5>
              		</button>
              	</p>
          	</div>
          	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary" >
                  		<span class="glyphicon glyphicon-edit"></span><br/>
                  			<h5>Vendor <br/> Management</h5>
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 1 -->
        	<div class="row" style="text-align: center;">
          	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
            		<p >
              		<button class="btn btn-sq-lg btn-sq btn-primary" >
                  		<span class="glyphicon glyphicon-adjust"></span><br/>
                  			<h5>Service <br/> Orchestration <br/> Management </h5>
              		</button>
              	</p>
          	</div>
          	<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
            		<p>
              		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onHomeClick();">
                  		<span class="glyphicon glyphicon-home"></span><br/>
                  			<h5>Home</h5>
              		</button>
              	</p>
          	</div>
         	</div> <!-- End of Row 2 -->
  </div><!-- Container -->
  
  </script>
  <script type="text/ng-template" id="views/userlanding.html">
  <div class="container">
  	<div class="page-title">Home</div>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onMyRequestClick();">
  					<span class="glyphicon glyphicon-eye-open"></span><br/>
  						<h5>My <br/>Requests</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onNewRequestClick();">
  					<span class="glyphicon glyphicon-edit"></span><br/>
  						<h5>New <br/> Request</h5>
  				</button>
  			</p>
  		</div>
  	</div> <!-- End of Row 1 -->
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onProfileClick();">
  					<span class="glyphicon glyphicon-user"></span><br/>
  						<h5>Profile</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onLogoutClick();">
  					<span class="glyphicon glyphicon-off"></span><br/>
  						<h5>Logout</h5>
  				</button>
  			</p>
  		</div>
  	</div> <!-- End of Row 2 -->
  </div><!-- Container -->
  
  </script>
  <script type="text/ng-template" id="views/userNewRequest.html">
  <div class="container">
  	<div class="page-title">New Request</div>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" ng-repeat="type in vm.serviceTypes">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.createNewRequest(type.code);">
  					<span class="{{type.symbol}}"></span><br/>
  					<h5>{{ type.desc }}</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBacktoUserHome();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
  <script type="text/ng-template" id="views/userMyRequest.html">
  <div class="container" ng-init="vm.onLoadMyRequests();">
  	<div class="page-title">My Requests</div>
  	<div>
  		<div class="info-box" ng-repeat="request in vm.myRequests | orderBy: '-createDate'">
  			<p>
  				<span>Id: {{request.requestId.replace('SRV-REQ-ID-','')}}</span></br>
  				<span>Requested for: {{request.type}}</span></br>
  				<span>Status: {{request.status}}</span></br>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBacktoUserHome();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
  <script type="text/ng-template" id="views/userRegistration.html">
  <form name="userRegForm" novalidate="novalidate" id="userRegForm">
  <div class="container">
  	<div class="page-title">Registration</div>
      <p class="form-group">
  		<label>Email/Login Id*</label>
  		<span class="error-msg-span" 
  			ng-show="userRegForm.$submitted && (userRegForm.txtEmail.$error.pattern || 
  					userRegForm.txtEmail.$error.required)">{{vm.emailMsg}}</span>
  		<input type="text" id="txtEmail" name="txtEmail" ng-pattern="vm.validEmail" 
  			 ng-model="vm.email" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Password*</label>
  		<span class="error-msg-span" 
  			ng-show="userRegForm.$submitted && 
  					userRegForm.txtPass.$error.required">{{vm.passMsg}}</span>
  		<input type="password" id="txtPass" name="txtPass" 
  			ng-model="vm.pass" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Name*</label>
  		<span class="error-msg-span" 
  			ng-show="userRegForm.$submitted && (userRegForm.txtName.$error.pattern || 
  					userRegForm.txtName.$error.required)">Enter valid name!</span>
  		<input type="text" id="txtName" name="txtName" ng-pattern="vm.validName" 
  			ng-model="vm.name" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Gender*</label>
  		<span class="error-msg-span" 
  			ng-show="userRegForm.$submitted &&  
  					userRegForm.txtGender.$error.required">Select gender!</span>
  		<select ng-model="vm.gender" id="txtGender" name="txtGender" class="form-control" required>
  			<option value="M">Male</option>
  			<option value="F">Female</option>
  		</select>
  	</p>
  	<p class="form-group">
  		<label>Age</label>
  		<input type="number" id="txtAge" name="txtAge" 
  			ng-model="vm.age" class="form-control">
  	</p>
  	<p class="form-group">
  		<label>Address</label>
  		<input type="text" ng-model="vm.address" class="form-control">
  	</p>
  	<p class="form-group">
  		<label>Pin Code</label>
  		<input type="text" ng-model="vm.pin" class="form-control">
  	</p>
  	<p class="form-group">
  		<label>Phone*</label>
  		<span class="error-msg-span" 
  			ng-show="userRegForm.$submitted && (userRegForm.txtPhone.$error.pattern || 
  					userRegForm.txtPhone.$error.required)">Enter valid phone!</span>
  		<input type="text" id="txtPhone" name="txtPhone" ng-pattern="vm.validPhone" 
  			class="form-control" ng-model="vm.phone" required>
  	</p>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onSaveClick();" type="submit">
  					<h5>Submit</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onCancelClick();" type="button">
  					<h5>Cancel</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div><!-- Container -->
  </form>
  </script>
  <script type="text/ng-template" id="views/userLogin.html">
  <form name="userLoginForm" novalidate="novalidate" id="userLoginForm">
  <div class="container">
  	<div class="container">
  		<div class="page-title">Access with your account</div>
  		<p class="form-group">
  			<label>Email</label>
  			<span class="error-msg-span" 
  				ng-show="userLoginForm.$submitted && userLoginForm.txtEmail.$error.required">{{vm.emailMsg}}</span>
  			<input type="text" id="txtEmail" name="txtEmail" 
  				 ng-model="vm.email" class="form-control" required>
  		</p>
  		<p class="form-group">
  			<label>Password*</label>
  			<span class="error-msg-span" 
  				ng-show="userLoginForm.$submitted && 
  						userLoginForm.txtPass.$error.required">{{vm.passMsg}}</span>
  			<input type="password" id="txtPass" name="txtPass" 
  				ng-model="vm.pass" class="form-control" required>
  		</p>
  		<p>
  			<span>Don't have an account?</span>
  			<span style="color:blue; cursor:pointer; padding-left:5px;" ng-click="vm.onCreateAccountClick();">Create account</span>
  		</p>
  		<p >
  			<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onLoginClick();" type="submit">
  				<h5>Login</h5>
  			</button>
  		</p>
  	</div>
  </div>
  </form>
  </script>
  <script type="text/ng-template" id="views/userProfile.html">
  <div class="container">
  	<div class="page-title">Your Profile</div>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary">
  					<span class="glyphicon glyphicon-pencil"></span><br/>
  					<h5>About you</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onMedHisClick();">
  					<span class="glyphicon glyphicon-list-alt"></span><br/>
  					<h5>Medical<br/>History</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary">
  					<span class="glyphicon glyphicon-text-background"></span><br/>
  					<h5>Allergic To</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
  			<p>
  				<button class="btn btn-sq-lg btn-sq btn-primary">
  					<span class="glyphicon glyphicon-heart"></span><br/>
  					<h5>Emergency<br/>Phone Number</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onCancelClick();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
  <script type="text/ng-template" id="views/userMedicalHistory.html">
  <div class="container" ng-init="vm.onLoadUserMedicalHistory();">
  	<div class="page-title">Medical History</div>
  	<div class="list-box">
  		<div class="info-box" ng-repeat="record in vm.medHisRecords">
  			<p>
  				<div class="btn-delete-row" ng-click="vm.onMedHisDeleteClick(record);">x</div>
  				<div style="display:inline;">{{record}}</div>
  			</p>
  		</div>
  	</div>
  	<div class="form-group">
  		<input type="text" id="txtMH" name="txtMH" ng-model="vm.medHis" class="form-control" style="width:230px; display:inline;">
  		<button class="btn btn-sq-lg btn-sq-sm btn-primary" style="float:right; display:inline;" ng-click="vm.onAddMedHisClick();">
  			<h5>Add</h5>
  		</button>
  	</div>
  	<div class="row">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBackToProfile();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
  <script type="text/ng-template" id="views/groundVendorLogin.html">
  <form name="vendorLoginForm" novalidate="novalidate" id="vendorLoginForm">
  <div class="container">
  	<div class="container">
  		<div class="page-title">Access with your account</div>
  		<p class="form-group">
  			<label>Email</label>
  			<span class="error-msg-span" 
  				ng-show="userLoginForm.$submitted && userLoginForm.txtEmail.$error.required">{{vm.emailMsg}}</span>
  			<input type="text" id="txtEmail" name="txtEmail" 
  				 ng-model="vm.email" class="form-control" required>
  		</p>
  		<p class="form-group">
  			<label>Password*</label>
  			<span class="error-msg-span" 
  				ng-show="userLoginForm.$submitted && 
  						userLoginForm.txtPass.$error.required">{{vm.passMsg}}</span>
  			<input type="password" id="txtPass" name="txtPass" 
  				ng-model="vm.pass" class="form-control" required>
  		</p>
  		<p>
  			<span>Don't have an account?</span>
  			<span style="color:blue; cursor:pointer; padding-left:5px;" ng-click="vm.onCreateAccountClick();">Create account</span>
  		</p>
  		<p >
  			<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onLoginClick();" type="submit">
  				<h5>Login</h5>
  			</button>
  		</p>
  	</div>
  </div>
  </form>
  </script>
  <script type="text/ng-template" id="views/vendorRegistration.html">
  <form name="vendorRegForm" novalidate="novalidate" id="vendorRegForm">
  <div class="container">
  	<div class="page-title">Vendor Registration</div>
      <p class="form-group">
  		<label>Email/Login Id*</label>
  		<span class="error-msg-span" 
  			ng-show="vendorRegForm.$submitted && (vendorRegForm.txtEmail.$error.pattern || 
  					vendorRegForm.txtEmail.$error.required)">{{vm.emailMsg}}</span>
  		<input type="text" id="txtEmail" name="txtEmail" ng-pattern="vm.validEmail" 
  			 ng-model="vm.email" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Password*</label>
  		<span class="error-msg-span" 
  			ng-show="vendorRegForm.$submitted && 
  					vendorRegForm.txtPass.$error.required">{{vm.passMsg}}</span>
  		<input type="password" id="txtPass" name="txtPass" 
  			ng-model="vm.pass" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Name*</label>
  		<span class="error-msg-span" 
  			ng-show="vendorRegForm.$submitted && (vendorRegForm.txtName.$error.pattern || 
  					vendorRegForm.txtName.$error.required)">Enter valid name!</span>
  		<input type="text" id="txtName" name="txtName" ng-pattern="vm.validName" 
  			ng-model="vm.name" class="form-control" required>
  	</p>
  	<p class="form-group">
  		<label>Service Type*</label>
  		<span class="error-msg-span" 
  			ng-show="vendorRegForm.$submitted &&  
  					userRegForm.txtType.$error.required">Select service type!</span>
  		<select ng-model="vm.type" id="txtType" name="txtType" class="form-control" required>
  			<option ng-repeat="type in serviceTypes" value="{{type.code}}">{{type.desc}}</option>
  		</select>
  	</p>
  	<p class="form-group">
  		<label>Address</label>
  		<input type="text" ng-model="vm.address" class="form-control">
  	</p>
  	<p class="form-group">
  		<label>Pin Code</label>
  		<input type="text" ng-model="vm.pin" class="form-control">
  	</p>
  	<p class="form-group">
  		<label>Phone*</label>
  		<span class="error-msg-span" 
  			ng-show="vendorRegForm.$submitted && (vendorRegForm.txtPhone.$error.pattern || 
  					vendorRegForm.txtPhone.$error.required)">Enter valid phone!</span>
  		<input type="text" id="txtPhone" name="txtPhone" ng-pattern="vm.validPhone" 
  			class="form-control" ng-model="vm.phone" required>
  	</p>
  	<div class="row" style="text-align: center;">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onSaveClick();" type="submit">
  					<h5>Submit</h5>
  				</button>
  			</p>
  		</div>
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onCancelClick();" type="button">
  					<h5>Cancel</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div><!-- Container -->
  </form>
  </script>
  <script type="text/ng-template" id="views/vendorAllRequest.html">
  <div class="container" ng-init="vm.onLoadMyRequests();">
  	<div class="page-title">Current Requests for {{vendorType}}</div>
  	<div>
  		<div class="info-box" ng-repeat="request in vm.requests | orderBy: '-createDate'">
  			<p>
  				<span>Id: {{request.requestId.replace('SRV-REQ-ID-','')}}</span></br>
  				<span>Requested for: {{request.type}}</span></br>
  				<span>Status: {{request.status}}</span></br>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
  			<p >
  				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBacktoVendorHome();">
  					<h5>Back</h5>
  				</button>
  			</p>
  		</div>
  	</div>
  </div>
  
  </script>
</body>
 </html>