<script type="text/ng-template" id="views/userNewRequest.html">
<div class="container">
	<div class="row" style="text-align: center;">
		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" ng-repeat="type in vm.serviceTypes">
			<p>
				<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.createNewRequest(type.code);">
					<span class="{{type.symbol}}"></span><br/>
					<h5>{{ type.desc }}</h5>
				</button>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
			<p >
				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onBacktoUserHome();">
					<h5>Back</h5>
				</button>
			</p>
		</div>
	</div>
</div>

</script>